{% extends 'base.html.twig' %}

{% block title %}
    {{ atelier.nomAtelier }} {{ atelier.secteur.nom }}
{% endblock %}

{% block body %}

    <div class="d-flex flex-column mx-auto my-1 bg-secondary w-50">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img src="/pictures/logoforum.png" alt="" class="w-50 h-25">
            <h2 class="text-info mt-2">
                {{ atelier.nomAtelier }} {{ atelier.secteur.nom }}
            </h2>
        </div>

        <div class="blockquote">
            {{ atelier.secteur.description }}
        </div>

        <div class="w-100 d-flex flex-column fs-5 mx-2 gap-3">
            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Secteur :
                </div>
                <div class="w-50 text-capitalize d-flex align-items-center justify-content-start text-info">
                    {{ atelier.secteur.nom }}
                </div>
            </div>

            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Intervenant :
                </div>
                <div class="d-flex flex-column">
                    {% for intervenant in atelier.intervenant %}
                    <div class=" text-capitalize d-flex align-items-center justify-content-start text-info">
                            {{ intervenant.firstName }} {{ intervenant.lastName }}
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Date :
                </div>
                <div class="w-50 text-capitalize d-flex align-items-center justify-content-start text-info">
                    {{ atelier.dateAtelier | localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y') }}
                </div>
            </div>

            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Heure :
                </div>
                <div class="w-50 text-capitalize d-flex align-items-center justify-content-start text-info">
                    {{ atelier.dateAtelier | localizeddate('none', 'none', null, null, 'HH:MM') }}
                </div>
            </div>

            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Salle :
                </div>
                <div class="w-50 text-capitalize d-flex align-items-center justify-content-start text-info">
                    {% if atelier.salle is null %}
                        <span class="text-danger">
                            NA
                        </span>
                    {% else %}
                        {{ atelier.salle.nom}}
                    {% endif %}
                </div>
            </div>

            <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Métier(s) :
                </div>
                <div class="d-flex flex-column">
                    {% for metier in atelier.metier %}
                        <div class="text-capitalize d-flex align-items-center justify-content-start text-info">
                            {{ metier.nomMetier }}
                        </div>
                    {% endfor %}
                </div>
            </div>

             <div class="d-flex w-100">
                <div class="w-25 text-decoration-underline">
                    Activité :
                </div>
                <div class="w-50 text-capitalize d-flex align-items-center justify-content-start text-info">
                   {% for metier in atelier.metier %}
                   
                        {% for activite in metier.activite %}
                       
                            <div class="text-capitalize d-flex align-items-center justify-content-start text-info">
                                {{ activite.nomActivite}}
                            </div>
                        {% endfor %}
                       
                    {% endfor %}
                </div>
            </div>

            {% if atelier.urlRessource != null %}
                <div class="d-flex w-100">
                    <div class="w-25 text-decoration-underline">
                        Document PDF :
                    </div>
                    <div class="w-50 text-capitalize d-flex align-items-center justify-content-center text-info">
                        {{ atelier.dateAtelier | localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y') }}
                    </div>
                </div>
            {% endif %}

            {% if atelier.pdfRessource != null %}
                <div class="d-flex w-100">
                    <div class="w-25 text-decoration-underline">
                        Document PDF :
                    </div>
                    <div class="w-50 text-capitalize d-flex align-items-center justify-content-center text-info">
                        {{ atelier.dateAtelier | localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y') }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="text-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success"> {{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger"> {{ message }}</div>
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group" id="form_div">
                <a type="button" name="participer" id="bouton_participer" href="{{path('app_list_atelier')}}"> Retour </a>
            </div>

        {% elseif  is_granted('ROLE_LYCEEN') %}

            {% set alreadySubscribed = false %}

            {% if ateliers is defined %}
                {% for item in app.user.ateliers %}
                        {% if item.id == atelier.id %}
                            {% set alreadySubscribed = true %}
                        {% else %}
                            {% set alreadySubscribed = false %}
                        {% endif %}
                {% endfor %}
            {% endif %}

            {% if alreadySubscribed == false %}
                {{form_start(form)}}
                    <div
                            class="form-group"
                            id="form_div"
                    >
                        <button
                                type="submit"
                                name="participer"
                                id="bouton_participer"
                        >
                            s'inscrire
                        </button>
                    </div>
                {{form_end(form)}}
            {% elseif alreadySubscribed == true or app.user.ateliers | length == 3 %}
                  {{ form_start(form_desinscrire) }}
                  <div
                          class="form-group"
                          id="form_div"
                  >
                      <button
                              type="submit"
                              name="desinscrire"
                              id="bouton_desinscrire"
                      >
                          se désinscrire
                      </button>
                  </div>
                  {{ form_end(form_desinscrire) }}
            
            {% endif %}

        
        {% else %}
            {{form_start(form)}}
                <div
                        class="form-group"
                        id="form_div"
                >
                    <button
                            type="submit"
                            name="participer"
                            id="bouton_participer"
                    >
                        s'inscrire
                    </button>
                </div>
            {{form_end(form)}}

        {% endif %}
    
    </div>
{% endblock %}