{% extends 'base.html.twig' %}

{% block title %}Liste des ateliers{% endblock %}


{% block body %}
     <div {{ vue_component('Navigation') }}></div>

     <div id="liste">

          <div class="text-center">
               {% for message in app.flashes('success') %}
                    <div class="alert alert-danger"> {{ message }}</div>
               {% endfor %}
          </div>
          <h2> Voici une liste de tous les ateliers </h2>

          <table>
               <thead id="entete">
               <tr>
                    <th>Nom de l'atelier</th>
                    <th>Secteur</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Intervenant</th>
                    <th>Salle</th>
               </tr>
               </thead>

               <tbody id="corps">
               {% for atelier in ateliers %}
                    <tr>
                         <td>
                              <a href="/detail_atelier/{{ atelier.id }}"> {{ atelier.nomAtelier}} </a>
                         </td>
                         <td>
                              <a href="/detail_atelier/{{ atelier.id }}"> {{ atelier.secteur.nom }} </a>
                         </td>
                         <td>
                              <a href="/detail_atelier/{{ atelier.id }}"> {{ atelier.dateAtelier | date("d/m/Y") }} </a>
                         </td>
                         <td>
                              <a href="/detail_atelier/{{ atelier.id }}">{{ atelier.dateAtelier | localizeddate('none', 'none', null, null, 'HH:MM') }}</a>
                         </td>
                         <td> <a href="/detail_atelier/{{ atelier.id }}">
                                   {% for intervenant in atelier.intervenant %}
                                        {{ intervenant.firstName }} {{ intervenant.lastName }}
                                   {% endfor %}
                              </a>
                         </td>
                         <td> <a href="/detail_atelier/{{ atelier.id }}"> {{ atelier.salle.nom}} </a> </td>
                         <td>
                              <a href="/detail_atelier/{{ atelier.id }}" class="btn btn-primary text-white" id="bouton">
                                   détails
                              </a>
                         </td>
                    </tr>
               {% endfor %}
               </tbody>
          </table>
     </div>
{% endblock %}