{% extends 'baseprofile.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h1>Profil de {{ app.user.firstName }} {{ app.user.lastName }}</h1>
		</div>
		
		{% if is_granted('ROLE_ADMIN') %}
			<div id="espace" class="col-xs1">Nom :</div>
			<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
			<div id="espace" class="col-xs1">Prénom :</div>
			<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
			<div id="espace" class="col-xs1">Email :</div>
			<div id="espace" class="col-xs3">{{ app.user.email }}</div>
			<div id="espace" class="col-xs1">Téléphone :</div>
			<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
		{% else %}
		<div id="espace" class="col-xs1">Nom :</div>
		<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
		<div id="espace" class="col-xs1">Prénom :</div>
		<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
		<div id="espace" class="col-xs1">Email :</div>
		<div id="espace" class="col-xs3">{{ app.user.email }}</div>
    	<div id="espace" class="col-xs1">Téléphone :</div>
		<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
		<div id="espace" class="col-xs1">Section :</div>
		<div id="espace" class="col-xs3">{{ app.user.section }}</div>
		<div id="espace" class="col-xs1">Lycée :</div>
		<div id="espace" class="col-xs3">{{ app.user.lycee }}</div>
		{% endif %}
		
	</div>

	<div class="grix xs4 container">
		<div class="col-xs4">

		{% if is_granted('ROLE_ADMIN') %}
			<hr>
			

			{% if lycees is defined %}
				<h1>Détails des inscriptions</h1>

				<table class="table table-bordered">
					<thead>
						<tr>
						<th scope="col">Lycée</th>
						<th scope="col">Nbre Inscrit</th>
						</tr>
					</thead>
					<tbody>
						{% for lycee in lycees %}
							<tr>
								<th scope="row">{{lycee.nom}}</th>
								<th scope="row">{{lycee.nom}}</th>
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			{% endif %}
			
		{% else %}

			{% if ateliers is defined %}
				<hr>
				<h1> Mes Ateliers</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Secteur</th>
							<th scope="col"> Salle</th>
							<th scope="col">Métier</th>
							<th scope="col">Intervenant</th>
							<th scope="col">Date</th>
							<th scope="col">Détails</th>
						</tr>
					</thead>
					<tbody>
						{% for atelier in app.user.ateliers %}
							<tr>
								<td>{{ atelier.nomAtelier }}</td> 
								<td>{{ atelier.secteur }}</td>
								<td>{{ atelier.salle }}</td>
								<td>
									{% for liste in atelier.metier %}
										{{liste.nomMetier}}
									{% endfor %} 
								</td>
								<td>
									{% for liste in atelier.intervenant %}
										{{liste.firstName}} {{liste.lastName}}
									{% endfor %} 
								</td>
								<td>{{ atelier.dateAtelier|date("m/d/Y") }}</td>
								<td><a class="btn btn-secondary" href="/detail_atelier/{{ atelier.id }}">Plus</a></td> 
							</tr>
						{% endfor %}  
					</tbody>
				</table>

			{% endif %}

		{% endif %}
			
		</div>
	</div>
		
{% endblock %}