{% extends 'baseprofile.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h1>Profil de {{ app.user.firstName }} {{ app.user.lastName }}</h1>
		</div>
		
		{% if is_granted('ROLE_ADMIN') %} 
			<div id="espace" class="col-xs1">Nom :</div>
			<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
			<div id="espace" class="col-xs1">Prénom :</div>
			<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
			<div id="espace" class="col-xs1">Email :</div>
			<div id="espace" class="col-xs3">{{ app.user.email }}</div>
			<div id="espace" class="col-xs1">Téléphone :</div>
			<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
		{% elseif  is_granted('ROLE_INTERVENANT') %}
			<div id="espace" class="col-xs1">Nom :</div>
			<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
			<div id="espace" class="col-xs1">Prénom :</div>
			<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
			<div id="espace" class="col-xs1">Email :</div>
			<div id="espace" class="col-xs3">{{ app.user.email }}</div>
			<div id="espace" class="col-xs1">Téléphone :</div>
			<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
		{% elseif  is_granted('ROLE_LYCEEN') %}
			<div id="espace" class="col-xs1">Nom :</div>
			<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
			<div id="espace" class="col-xs1">Prénom :</div>
			<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
			<div id="espace" class="col-xs1">Email :</div>
			<div id="espace" class="col-xs3">{{ app.user.email }}</div>
			<div id="espace" class="col-xs1">Téléphone :</div>
			<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
			<div id="espace" class="col-xs1">Section :</div>
			<div id="espace" class="col-xs3">{{ app.user.section }}</div>
			<div id="espace" class="col-xs1">Lycée :</div>
			<div id="espace" class="col-xs3">{{ app.user.lycee }}</div>
		{% endif %}
		
	</div>

	<div class="grix xs4 container">
		<div class="col-xs4">
		
		{% if is_granted('ROLE_ADMIN') %}
			<hr>
			
			{% if lyceens is defined %}
				<h2>Nombre d'inscrits par lycée</h2>

				<table class="table table-bordered">
					<thead>
						<tr>
						<th scope="col">Lycée</th>
						<th scope="col">Nombre Inscrit</th>
						</tr>
					</thead>
					<tbody>
						{% for lyceen in lyceens %}
						<tr> 
							<td> {{lyceen["nom"]}} </td>
							<td> {{lyceen["nb_inscrit"]}} </td>
						</tr> 
						{% endfor %} 
					</tbody>
				</table>
			{% endif %}

			<h2>Nombre d'inscrits par atelier</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
					<th scope="col">Atelier</th>
					<th scope="col">Nombre Inscrit</th>
					</tr>
				</thead>
				<tbody>
					{% for inscrit in inscritParAtelier %}
					<tr> 
						<td> {{ inscrit["nom_atelier"] }} </td>
						<td> {{ inscrit["nb_inscrit"] }} </td>
					</tr> 
					{% endfor %} 
				</tbody>
			</table>
		{% elseif  is_granted('ROLE_LYCEEN') or  is_granted('ROLE_INTERVENANT') %}
			{% if ateliers is not null and  app.user.ateliers | length >0 %}
				<hr>
				<h1> Mes Ateliers</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Secteur</th>
							<th scope="col"> Salle</th>
							<th scope="col">Métier</th>
							<th scope="col">Intervenant</th>
							<th scope="col">Date</th>
							<th scope="col">Détails</th>
						</tr>
					</thead>
					<tbody>
						{% for atelier in app.user.ateliers %}
							<tr>
								<td>{{ atelier.nomAtelier }}</td> 
								<td>{{ atelier.secteur }}</td>
								<td>{{ atelier.salle }}</td>
								<td>
									{% for liste in atelier.metier %}
										{{liste.nomMetier}}
									{% endfor %} 
								</td>
								<td>
									{% for liste in atelier.intervenant %}
										{{liste.firstName}} {{liste.lastName}}
									{% endfor %} 
								</td>
								<td>{{ atelier.dateAtelier|date("m/d/Y") }}</td>
								<td><a class="btn btn-secondary" href="/detail_atelier/{{ atelier.id }}">Plus</a></td> 
							</tr>
						{% endfor %}  
					</tbody>
				</table>
			{% endif %}

		{% endif %}
		</div>
	</div>
		
{% endblock %}