{% extends 'baseprofile.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		{% for message in app.flashes('message') %}
			<div class="col-xs4">
				<div class="p-3 my-2 rounded-2 success">{{message}}</div>
			</div>
		{% endfor %}
		<div class="col-xs4">
			<h1>Profil de {{ app.user.firstName }} {{ app.user.lastName }}</h1>
		</div>
		<div id="espace" class="col-xs1">Nom :</div>
		<div id="espace" class="col-xs3">{{ app.user.lastName }}</div>
		<div id="espace" class="col-xs1">Prénom :</div>
		<div id="espace" class="col-xs3">{{ app.user.firstName }}</div>
		<div id="espace" class="col-xs1">Email :</div>
		<div id="espace" class="col-xs3">{{ app.user.email }}</div>
    	<div id="espace" class="col-xs1">Téléphone :</div>
		<div id="espace" class="col-xs3">{{ app.user.phone }}</div>
	</div>

	<div class="grix xs4 container">
		<div class="col-xs4">

		{% if is_granted('ROLE_ADMIN') %}
			lansana KEITA

		{% else %}

			{% for liste in app.user.participations %}
				{% if liste %}
					<h1>Mes participations aux ateliers</h1>
					{{ liste.atelier.nomAtelier }}
				{% endif %}
			{% endfor %}
			
		{% endif %}
			
		</div>
	</div>
		
{% endblock %}