{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="text-center">Connexion</h3>
                            </div>
                            <form method="post">
                                <div class="message-flash">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group">
                                    <label for="inputMatricule">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div class= "text-center" "form-group" >
                                    <button type="submit" class="btn btn-primary" name="login">Connexion</button>
                                </div>

                                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                            </form>
                            
                            <hr> 
                            
                            <div class="form-note text-center">Pas encore inscrit ? <a href="{{path('app_register')}}">ici</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}